.git
.strapi
.tmp
build
dist
exports
node_modules
logs
coverage

.env
.env.docker
.env.local
.env.*.local
.strapi-cloud.json
.strapi-updater.json

*.log
*.sqlite
*.sqlite3
*.sql

public/uploads/*
!public/uploads/.gitkeep
